@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">@Model.OrganizationName</h1>
    <p>@Model.OrganizationDescription</p>
    <p>
        <ul>
            @foreach (var eventType in Model.EventTypes)
            {
                <li>@eventType.Name</li>
            }
        </ul>
    </p>
    <p>Skates Computer Science Project.</p>
</div>
